<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>
   {{>navbar}}
 <!-- Main Header-->

 <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                  <!--Right Side Div-->
                  <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/about.png" class="img-fluid">
                    </figure>
                </div>
                <!--Left Side Div-->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather app</p>
                     <h1>I am a <span class="txt_clr">Mean Stack Developer,</span> A Teacher, A Mentor</h1>
                     <a href="https://www.linkedin.com/in/hammad-ali-680692154/"><button>About me</button></a>
                </div>
              

            </div>
        </div>

    </div>

</div>

{{> footers}}
</body>

</html>